/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heart-scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes sparks-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' 410;
  background-image: var(--page-bg);
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
}

.header-container {
  margin: 0 auto;
  padding-inline: var(--header-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #ffffff;
  border: 2px solid #000000;
  min-block-size: 326px;
  box-sizing: border-box;
  font-family: var(--accent-font-family);
  margin-block-start: 100px;
}

.header__logo {
  font-size: clamp(49px, 44.43px + 1.42vw, 65px);
  font-weight: 400;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(14px, 1.6vw, 23px);
  text-transform: lowercase;
  text-align: center;
}

.section-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 100px;
  background-color: #ffffff;
  gap: 50px;
}

.card {
  border: 2px solid #000000;
  width: 100%;
  max-width: 375px;
}

.card__title {
  font-family: var(--main-font-family);
  font-size: clamp(1.125rem, 4vw, 1.125rem);
  font-variation-settings: 'wght' 715;
  margin: 4px 10px;
}

.card__image-wrapper {
  position: relative;
}

.card__image {
  width: 100%;
  width: 375px;
  height: 375px;
  display: block;
  object-fit: cover;
}

.card__image-furgon {
  object-position: 97%;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--label-color);
  opacity: 0.8;
  -webkit-text-stroke: 1px var(--label-stroke);
  text-stroke: 1px var(--label-color);
  text-shadow: 1px 1px 0 var(--label-color), 1px 1px 0 var(--label-color), 1px 1px 0 var(--label-color), 1px 1px 0 var(--label-color);
  mix-blend-mode: hard-light;
  z-index: 2;
}

.card__text {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-variation-settings: 'wght' 410;
  line-height: 21px;
  padding: 25px 26px 0;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  margin: 25px 25px 22px auto;
  gap: 7px;
}

.card__icon-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.like-icon {
  width: 38px;
  height: 38px;
}

.card__like-button {
  padding: 13.5px 35.5px;
}

.button {
  font-family: var(--accent-font-family);
  line-height: 90%;
  font-size: 14px;
  outline: 2px solid #000000;
  background: transparent;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button span.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 17px 20px;
  margin-block-end: 100px;
}

.save-button__icon {
  width: 28px;
  height: 28px;
}

@media (min-width: 1440px) {
  .header-container {
    inline-size: 700px;
    block-size: 368px;
    text-align: center;
  }

  .card {
    max-width: 696px;
  }

  .card__image {
    width: 696px;
    height: 700px;
  }

  .save-button {
    flex-direction: row;
  }

  .save-button__icon {
    width: 21px;
    height: 21px;
  }

  .modal {
    margin: auto;
    width: 353px;
  }
}

/* Модальное окно */

.modal {
  border: none;
  padding: 30px 40px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modal__ok-button {
  align-self: center;
  padding: 12.5px 115px;
}

.modal__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  text-transform: uppercase;
}

.modal__icon {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

/* Сердечко */

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-show 0.3s ease-in 0.3s 1;
}