/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: 'Inter', sans-serif;
  --accent-font-family: 'PressStart2P', sans-serif;
  --accent-color: #000000;
  --animation-fill-color: #FF0000;
  --contour-color: #000000;

  --page-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --header-padding-inline: 16px;
  --header-padding-block: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);

  --label-color: #000000;
  /* цвет текста */
  --label-stroke: #ffffff;
  /* цвет обводки */

  --page-bg: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}